.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItem {
    padding: 5px;
}

.dialogItem a {
    text-decoration: none;
    color: black;
}

.dialogItem a:hover {
    color: red;
}

.dialogItem.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}